*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
}

nav {
    background-color: rgb(160, 160, 253);
    color: #333;
    padding: 20px 50px ; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}       

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}